<ion-view view-title="Search">
  <ion-content>
    <h1>Search</h1>
      <div class="item-body body-collapsible" >
          <div class="item item-divider" ng-click="">
              <i class="icon" ng-class="ass.isExpanded ? 'ion-ios-arrow-down' : 'ion-ios-arrow-right'"></i>
              <ion-list>

                  <ion-checkbox>Base jumping</ion-checkbox>
                  <ion-checkbox>Extreme</ion-checkbox>
                  <ion-checkbox>Bicycle</ion-checkbox>
                  <ion-checkbox>Skydiving</ion-checkbox>
                  <ion-checkbox>Paraplanerism</ion-checkbox>


              </ion-list>
          </div>
             
          </div>
          
          
</ion-content>
</ion-view>
